:root{
  --basic-color : #000000; 
  --basic-font : 65px;
  --basic-font-logo : 50px;
  --basic-font-a : 50px;
  --basic-font-logo-color : white;
  --basic-font-cf : 30px;
  --basic-height : 100vh;
}
@font-face {
  font-family: 'Yeongdeok Snow Crab';
  font-weight: 400;
  src: url('D:/My Computer/Documents/GitHub/web_programming_perform/font/Yeongdeok Snow Crab.otf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Yeongdeok Snow Crab',sans-serif;
}
header {
  color:var( --basic-font-logo-color);
  justify-content: space-between;
  align-items: center;
}
.arrow{
  top: 80%;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 50px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  animation-direction: alternate;
}

@keyframes arrow {/*화살표 애니메이션*/
  from{
    top: 87%;
  }
  to{
    top: 90%;
  }
}

header .logo , header nav{/*레이어 2앞으로 올리기(z-index)  +  position 고정*/
  position: fixed;
  z-index: 2;
}
header .logo{/*왼쪽 0으로 고정*/
  font-size: var(--basic-font-logo);
  left: 0;
  margin-top: 20px;
  margin-left: 25px;
}

header nav{/*오른쪽 0으로 고정*/
  right: 20px;
  margin-top: 15px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: var(--basic-font-a);
}

#li1 {
  color: pink;
}

header nav ul li a:hover{
  color: #615050;
}
.kind_wrap {   
  width:100%; 
  height: var(--basic-height);
  margin:0 auto 0; 
  position: relative;
  background-position: cover;
}

.kind_wrap .arrow{/* 버튼  */
    position: absolute;/*슬라이드 위에 있게 하기*/
    top: 90%; 
    left: 0; 
    right: 0;
    text-align: center;
}

.kind_wrap .context{
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .article .kind_wrap .context p{
    font-size: 35px !important;
  }
  header .logo {
    font-size: 20px;
  }
  header nav{
    font-size: 10px;
  }
  #article_3 p{
    font-size: 25px !important; /*ㅎㅎ..;;*/
  }
  #article_3 .problem{
    width: 200px !important;
    height: 200px !important;/*ㅎㅎ;;*/
  }
}


.kind_wrap > .kind_slider {
  overflow-x: hidden; 
  overflow-y: hidden;
  overflow: hidden;/*슬라이드 흘러넘치지 않게 하기*/
}
.kind_wrap > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {/* 이미지 위에 딱 붙이기!*/
  vertical-align: top;
  width: 100vw;
  height: var(--basic-height);
}
.arrow{
    display: flex;
    justify-content: center;
}

.kind_wrap .arrow a > img{
    width: 15px;
    height: 15px;
    gap: 30px;
}
.kind_wrap .arrow a{
    margin: 0px 20px;
    border: none;
    background-color: transparent;
}

/* article */
#article{
  height: 800px;
  background-color: rgb(0, 0, 0); /*색 몰로 하지*/
  height: var(--basic-height);
}

#article_1, #article_2{
  height: var(--basic-height);
}
.div_1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 93%;
  width: 100%;
  font-size: var(--basic-font);
}
.div_2 {
  height: 7%;
  width: 100%;align-items: center;
}
.cursor{
  height: 50%;
  float: right;
  margin-right: 35px;
}
.cf{
  font-size: var(--basic-font-cf);
  float: right;
  margin-right: 5px;
}

#article_1 fieldset{
  padding: 70px;
  margin: 10px;
}
#hot, #pressure {
  color: rgb(88, 121, 52);
}
#hot:hover, #pressure:hover {
  color: rgb(75, 108, 40);
}
#imgs {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#article_2 fieldset{
  padding: 70px;
  margin: 10px;
}
#imgs2 {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#article_3 {
  background-color: white;
}

#article_3 #div_3 {
  font-size: var(--basic-font);
  color: black;
  height: 93%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
#article_3 .problem_text{
  font-size: 25px;
  position: absolute;
  transform: translateY(-550%);
}
#article_3 .problems {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}



#article_3 .problem:hover {
  background: rgba(0, 0, 0, 0.8);
}

#article_3 .problem {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  font-size: var(--basic-font-logo);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* 모든 요소의 기본 배경색 설정 */
}

#article_3 .problem:nth-child(1){
  background:url(./src/problem1.png);
  background-size: cover;
} 
#article_3 .problem:nth-child(2) {
  background:url(./src/problem2.jpg);
  background-size: cover;
  /* 2번째 요소를 약간 위로 이동 transform */
  transform: translateY(40px)
}

#article_3 .problem:nth-child(3){
  background: url(./src/problem3.jpg);
  background-size: cover;
} 

#article_3 .problem:nth-child(4) {
  background:url(./src/problem4.png);
  background-size: cover;
  /* 4번째 요소를 약간 위로 이동 transform */
  transform: translateY(40px);
}



#article_4{
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 1.8fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-row: 2/span 1;
  background-color: #a97676;
  height: var(--basic-height);
  background-color: antiquewhite;
}


#article_4 .website{
  display:flex;
  text-align: center;
  background-color: #9c9c9c;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: var(--basic-font-logo);
}


#article_4 .website:hover{
  background-color: rgba(0, 0,0.8);
}

#article_4 .website:nth-child(1){
  background: url(./src/website1.png);
  background-size: cover;
  grid-column: 2 /span 2;
  grid-row: 2/span 1;
  background-color: #a97676;
}
#article_4 .website:nth-child(2){
  background:url(./src/website2.jpeg);
  background-size: cover;
  grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
  background-color: #000000;
}

#article_4 .website:nth-child(3){
  background:url(./src/website3.png);
  background-size: cover;
  grid-column: 4/2 span;
	grid-row-start: 2;
	grid-row-end: 3;
  background-color: #565656;
}

#article_4 .website:nth-child(4){
  background: url(./src/website4.png);
  background-size: cover;
  grid-column: 3 / 3 span;
	grid-row-start: 3;
	grid-row-end: 3;
  background-color: #785353;
}

#article_6{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:  var(--basic-height);
  background-color: rgb(164, 143, 116);
}
