:root{
  --basic-color : #000000; 
  --basic-font : 30px
}
@font-face {
  font-family: 'Yeongdeok Snow Crab';
  font-weight: 400;
  src: url('D:/My Computer/Documents/GitHub/web_programming_perform/font/Yeongdeok Snow Crab.otf');
}


*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Yeongdeok Snow Crab',sans-serif;
}
header {
  background-color: #333;
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header .logo , header nav{/*레이어 2앞으로 올리기(z-index)  +  position 고정*/
  position: fixed;
  z-index: 2;
}
header .logo{/*왼쪽 0으로 고정*/
  font-size: 50px;
  left: 0;
}

header nav{/*오른쪽 0으로 고정*/
  right: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover{
  color: #615050;
}
.kind_wrap {   
  width:100%; 
  max-width:1300px;
  margin:0 auto 0; 
  position: relative;
  background-position: cover;
}

.kind_wrap .arrow{/* 버튼  */
    position: absolute;/*슬라이드 위에 있게 하기*/
    top: 90%; 
    left: 0; 
    right: 0;
    text-align: center;
}

.kind_wrap .context{/*-----이거 누르면 게임 나옴-------*/
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 25px
}
.kind_wrap > .kind_slider {
  overflow-x: visible; 
  overflow-y: hidden;
  overflow: hidden;/*슬라이드 흘러넘치지 않게 하기*/
}
.kind_wrap > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {/* 이미지 위에 딱 붙이기!*/
  vertical-align: top;
}
.arrow{
    display: flex;
    justify-content: center;
}

.kind_wrap .arrow a > img{
    width: 15px;
    height: 15px;
    gap: 30px;
}
.kind_wrap .arrow a{
    margin: 0px 20px;
    border: none;
    background-color: transparent;
}

/* article */
.article{
  background-color: rgb(0, 0, 0); /*색 몰로 하지*/
}
.article_1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.article_1 p{
  font-size: var(--basic-font);
}
.article_1 fieldset{
  padding: 70px;
  margin: 10px;
}
.article_1 section img{
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}