:root{
  --basic-color : #000000; 
  --basic-font : 30px;
  --basic-font-logo : 50px;
  --basic-height : 100vh;
}
@font-face {
  font-family: 'Yeongdeok Snow Crab';
  font-weight: 400;
  src: url('D:/My Computer/Documents/GitHub/web_programming_perform/font/Yeongdeok Snow Crab.otf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Yeongdeok Snow Crab',sans-serif;
}
header {
  color: white;
  justify-content: space-between;
  align-items: center;
}
.arrow{
  top: 80%;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 50px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  animation-direction: alternate;
}

@keyframes arrow {/*화살표 애니메이션*/
  from{
    top: 87%;
  }
  to{
    top: 90%;
  }
}

header .logo , header nav{/*레이어 2앞으로 올리기(z-index)  +  position 고정*/
  position: fixed;
  z-index: 2;
}
header .logo{/*왼쪽 0으로 고정*/
  font-size: var(--basic-font-logo);
  left: 0;
  margin-top: 20px;
  margin-left: 25px;
}

header nav{/*오른쪽 0으로 고정*/
  right: 20px;
  margin-top: 30px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover{
  color: #615050;
}
.kind_wrap {   
  width:100%; 
  height: var(--basic-height);
  margin:0 auto 0; 
  position: relative;
  background-position: cover;
}

.kind_wrap .arrow{/* 버튼  */
    position: absolute;/*슬라이드 위에 있게 하기*/
    top: 90%; 
    left: 0; 
    right: 0;
    text-align: center;
}

.kind_wrap .context{
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .article .kind_wrap .context p{
    font-size: 35px !important;
  }
  header .logo {
    font-size: 20px;
  }
  header nav{
    font-size: 10px;
  }
}


.kind_wrap > .kind_slider {
  overflow-x: hidden; 
  overflow-y: hidden;
  overflow: hidden;/*슬라이드 흘러넘치지 않게 하기*/
}
.kind_wrap > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {/* 이미지 위에 딱 붙이기!*/
  vertical-align: top;
  width: 100vw;
  height: var(--basic-height);
}
.arrow{
    display: flex;
    justify-content: center;
}

.kind_wrap .arrow a > img{
    width: 15px;
    height: 15px;
    gap: 30px;
}
.kind_wrap .arrow a{
    margin: 0px 20px;
    border: none;
    background-color: transparent;
}

/* article */
#article{
  height: 800px;
  background-color: rgb(0, 0, 0); /*색 몰로 하지*/
  height: var(--basic-height);
}
#article_1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: var(--basic-height);
}
#article_1 p{
  font-size: var(--basic-font);
}
#article_1 fieldset{
  padding: 70px;
  margin: 10px;
}
#article_1 section img{
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#article_2{
  height: var(--basic-height);
  background-color: antiquewhite;
}

#article_3{
  height: 100vh;
  background-color: rgb(193, 179, 161);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.article_3 .problem{
  width: 100px;
  height: 100px;
  background-color: rgb(92, 107, 121);
}

.article_3 .problem:hover{
  background-color: rgb(0, 0, 0);
}

#article_4{
  height: var(--basic-height);
  background-color: antiquewhite;
}

#article_5{
  height:  var(--basic-height);
  background-color: rgb(126, 106, 80);
}


#article_6{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:  var(--basic-height);
  background-color: rgb(164, 143, 116);
}